*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

body{
    background-color: #8A51FC;
}

.logo{
    width:150px;
    margin: 10px auto;
    display: block;

}

main{
    width:375px;
    max-width: 95%;
    background-color: #f4f4f4;
    border-radius: 20px;
    margin: 0 auto;
    padding:34px 14px 13px;
}

label{
    color: #777;
    font-weight: 400;
    font-size: 14px;
}

select, input{
    background-color: #fff;
    border: 1px solid #bbb;
    border-radius: 4px;
    height: 48px;
    width: 100%;
    margin-bottom: 10px;
    appearance: none;
    padding: 08px;
    font-size: 16px;
    color: #555;
    cursor: pointer;
}

input{
    cursor: auto;
}

button{
    background-color: #8A51FC;
    color: #fff;
    width: 100%;
    height: 48px;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    font-size: 18px;
}

button:hover{
    opacity: 0.8;
}

button:active{
    opacity: 0.6;
}

section{
    border-radius: 20px;
    border: 1px solid #772fd3;
    margin-top: 36px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.arrow{
    margin: 15px 0;
}

.currency-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.currency{
    font-size: 14px;
}

.currency-value, .currency-value-converted{
    font-size: 20px;
    font-weight: 700px;
}